body {
    margin-left: 50px;
    margin-right: 50px;
}
#appendix{
    background-color: #f9f9f9
}

.firstcolumn{
    width: 100px
}

.secondcolumn{
    width: 250px
}
.thirdcolumn{
    width: 350px
}



